<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="overconstrained_parts">
    <xacro:property name="root_folder" value=".."/>
    <xacro:property name="scale" value="0.001 0.001 0.001"/>
    <xacro:property name="PI" value="3.14159265"/>
    <xacro:property name="link_type" value="planar"/>

    <!--Inertial Information for each part-->
    <xacro:macro name="xm430_inertia">
        <inertial>
            <origin xyz="-4.0773796e-3 -1.5304911e-2 -1.6871895e-2" rpy="0 0 0"/>
            <mass value="0.082"/>
            <inertia ixx="2.3729564e-5" ixy="-1.3079758e-7" 
                    ixz="-8.1403365e-8" iyy="1.3112295e-5" 
                    iyz="-1.9659314e-6" izz="2.0942871e-5"/>
        </inertial>
    </xacro:macro>

    <xacro:macro name="base_motor_frame_inertia">
        <inertial>
            <origin xyz="6.48e-08 -0.0015864406 0.0250889877" rpy="0 0 0"/>
            <mass value="0.0768049156"/>
            <inertia ixx="5.65659e-05" iyy="5.30145e-05"
                izz="3.40217e-05" ixy="-0.0"
                iyz="1.1663e-06" ixz="1e-10"/>
        </inertial>    
    </xacro:macro>

    <xacro:macro name="dual_servo_shell_inertia">
        <inertial>
            <origin xyz="0.0005322566 -0.0003161331 0.0506920676" rpy="0 0 0"/>
            <mass value="0.0258069457"/>
            <inertia ixx="4.11451e-05" iyy="4.42386e-05"
                izz="4.8477e-06" ixy="7.82e-08"
                iyz="2.774e-07" ixz="-7.721e-07"/>
        </inertial> 
    </xacro:macro>

    <xacro:macro name="dual_servo_transmission_inertia">
        <inertial>
            <origin xyz="-1.41e-08 0.0095354556 0.0141401617" rpy="0 0 0"/>
            <mass value="0.0576887165"/>
            <inertia ixx="2.78223e-05" iyy="1.35978e-05"
                izz="2.50167e-05" ixy="5.7e-09"
                iyz="4.5419e-06" ixz="-0.0"/>
        </inertial> 
    </xacro:macro>

    <xacro:macro name="link1_inertia">
        <inertial>
            <origin xyz="-1.34e-08 -0.0610281992 -0.0014557736" rpy="0 0 0"/>
            <mass value="0.0307613681"/>
            <inertia ixx="5.25986e-05" iyy="2.0097e-06"
                izz="5.16836e-05" ixy="0.0"
                iyz="-5.7613e-06" ixz="0.0"/>
        </inertial> 
    </xacro:macro>

    <xacro:macro name="link2_inertia">
        <inertial>
            <origin xyz="1.036e-07 -0.0449626613 0.0052591076" rpy="0 0 0"/>
            <mass value="0.0191031691"/>
            <inertia ixx="2.50756e-05" iyy="5.778e-07"
                izz="2.53431e-05" ixy="6e-10"
                iyz="-2.226e-07" ixz="0.0"/>
        </inertial> 
    </xacro:macro>

    <xacro:macro name="link2_right_inertia">
        <inertial>
            <origin xyz="1.805e-07 -0.0533265072 -0.0012913277" rpy="0 0 0"/>
            <mass value="0.0221050596"/>
            <inertia ixx="3.59177e-05" iyy="1.3365e-06"
                izz="3.54627e-05" ixy="-0.0"
                iyz="-4.9113e-06" ixz="-0.0"/>
        </inertial> 
    </xacro:macro>

    <xacro:macro name="link3_inertia">
        <inertial>
            <origin xyz="1.805e-07 -0.0533265072 -0.0012913277" rpy="0 0 0"/>
            <mass value="0.0221050596"/>
            <inertia ixx="3.59177e-05" iyy="1.3365e-06"
                izz="3.54627e-05" ixy="-0.0"
                iyz="-4.9113e-06" ixz="-0.0"/>
        </inertial> 
    </xacro:macro>

    <xacro:macro name="link3_right_inertia">
        <inertial>
            <origin xyz="1.036e-07 -0.0449626613 0.0052591076" rpy="0 0 0"/>
            <mass value="0.0191031691"/>
            <inertia ixx="2.50756e-05" iyy="5.778e-07"
                izz="2.53431e-05" ixy="6e-10"
                iyz="-2.226e-07" ixz="0.0"/>
        </inertial> 
    </xacro:macro>

    <xacro:macro name="link4_inertia">
        <inertial>
            <origin xyz="1.313e-07 -0.067114635 -0.0038354506" rpy="0 0 0"/>
            <mass value="0.0283751541"/>
            <inertia ixx="3.90561e-05" iyy="1.3813e-06"
                izz="3.89017e-05" ixy="-3e-10"
                iyz="1.888e-07" ixz="-0.0"/>
        </inertial> 
    </xacro:macro>
    
    <xacro:macro name="tip_bearings_inertia">
        <inertial>
            <origin xyz="0.0 -0.0 0.0053378354" rpy="0 0 0"/>
            <mass value="0.0102057874"/>
            <inertia ixx="6.785e-07" iyy="6.785e-07"
                izz="9.84e-08" ixy="0.0"
                iyz="0.0" ixz="0.0"/>
        </inertial> 
    </xacro:macro>

    <!--Parts-->
    <xacro:macro name="xm430" params="module_prefix motor_index">
        <link name="${module_prefix}-xm430_${motor_index}">
            <xacro:xm430_inertia/>
            <visual>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <mesh filename="${root_folder}/mesh/visual/general/XM430-visual.obj" scale="${scale}"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <mesh filename="${root_folder}/mesh/collision/general/XM430-simplified.stl" scale="${scale}"/>
                </geometry>
            </collision>
        </link>
    </xacro:macro>
    
    <xacro:macro name="base_motor_frame" params="module_prefix">
        <link name="${module_prefix}-base_motor_frame">
            <xacro:base_motor_frame_inertia/>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="${root_folder}/mesh/visual/general/base_motor_frame_simplified.stl" scale="${scale}"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="${root_folder}/mesh/collision/general/base_motor_frame_simplified.stl" scale="${scale}"/>
                </geometry>
            </collision>
        </link>
    </xacro:macro>

    <xacro:macro name="dual_servo_shell" params="module_prefix">
        <link name="${module_prefix}-dual_servo_shell">
            <xacro:dual_servo_shell_inertia/>
            <visual>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <mesh filename="${root_folder}/mesh/visual/general/dual_servo_shell_simplified.stl" scale="${scale}"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <mesh filename="${root_folder}/mesh/collision/general/dual_servo_shell_simplified.stl" scale="${scale}"/>
                </geometry>
            </collision>
        </link>
    </xacro:macro>
    
    <xacro:macro name="dual_servo_transmission" params="module_prefix">
        <link name="${module_prefix}-dual_servo_transmission">
            <xacro:dual_servo_transmission_inertia/>
            <visual>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <mesh filename="${root_folder}/mesh/visual/general/dual_servo_transmission_simplified.obj" scale="${scale}"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <mesh filename="${root_folder}/mesh/collision/general/dual_servo_transmission_simplified.obj" scale="${scale}"/>
                </geometry>
            </collision>
        </link> 
    </xacro:macro>

    <xacro:macro name="link1" params="module_prefix">
        <link name="${module_prefix}-link1">
            <xacro:link1_inertia/>
            <visual>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <mesh filename="${root_folder}/mesh/visual/${link_type}/link1.obj" scale="${scale}"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <mesh filename="${root_folder}/mesh/collision/${link_type}/link1.obj" scale="${scale}"/>
                </geometry>
            </collision>
        </link>
    </xacro:macro>

    <xacro:macro name="link2" params="module_prefix">
        <link name="${module_prefix}-link2">
            <xacro:link2_inertia/>
            <visual>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <mesh filename="${root_folder}/mesh/visual/${link_type}/link2.obj" scale="${scale}"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <mesh filename="${root_folder}/mesh/collision/${link_type}/link2.obj" scale="${scale}"/>
                </geometry>
            </collision>
        </link>
    </xacro:macro>

    <xacro:macro name="link2_right" params="module_prefix">
        <link name="${module_prefix}-link2_right">
            <xacro:link2_right_inertia/>
            <visual>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <mesh filename="${root_folder}/mesh/visual/${link_type}/link2_right.obj" scale="${scale}"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <mesh filename="${root_folder}/mesh/collision/${link_type}/link2_right.obj" scale="${scale}"/>
                </geometry>
            </collision>
        </link>
    </xacro:macro>

    <xacro:macro name="link3" params="module_prefix">
        <link name="${module_prefix}-link3">
            <xacro:link3_inertia/>
            <visual>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <mesh filename="${root_folder}/mesh/visual/${link_type}/link3.obj" scale="${scale}"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <mesh filename="${root_folder}/mesh/collision/${link_type}/link3.obj" scale="${scale}"/>
                </geometry>
            </collision>
        </link>
    </xacro:macro>

    <xacro:macro name="link3_right" params="module_prefix">
        <link name="${module_prefix}-link3_right">
            <xacro:link3_right_inertia/>
            <visual>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <mesh filename="${root_folder}/mesh/visual/${link_type}/link3_right.obj" scale="${scale}"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <mesh filename="${root_folder}/mesh/collision/${link_type}/link3_right.obj" scale="${scale}"/>
                </geometry>
            </collision>
        </link>
    </xacro:macro>

    <xacro:macro name="link4" params="module_prefix">
        <link name="${module_prefix}-link4">
            <xacro:link4_inertia/>
            <visual>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <mesh filename="${root_folder}/mesh/visual/${link_type}/link4.obj" scale="${scale}"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <mesh filename="${root_folder}/mesh/collision/${link_type}/link4.obj" scale="${scale}"/>
                </geometry>
            </collision>
        </link> 
    </xacro:macro>
    
    <xacro:macro name="tip_bearings" params="module_prefix">
        <link name="${module_prefix}-tip_bearings">
            <xacro:tip_bearings_inertia/>
            <visual>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <mesh filename="${root_folder}/mesh/visual/${link_type}/tip_bearings.obj" scale="${scale}"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <mesh filename="${root_folder}/mesh/collision/${link_type}/tip_bearings.obj" scale="${scale}"/>
                </geometry>
            </collision>
        </link> 
    </xacro:macro>

</robot>
