<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="plate_6mm">

    <link name="plate_6mm">
        <inertial>
            <origin xyz="0.0 0.0 0.003" rpy="0 0 0"/>
            <mass value="1.8"/>
            <inertia ixx="0.038" ixy="0.0" ixz="0.0" iyy="0.038" iyz="0.0" izz="0.075"/>
        </inertial>

        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="./meshes/plate_6mm/plate_6mm.obj" scale="1 1 1"/>
            </geometry>
        </visual>

        <collision>
            <origin xyz="0.0 0.0 0.003" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.5 0.5 0.006"/>
            </geometry>
        </collision>
    </link>

</robot>