<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="semidodecahedron">

    <link name="semidodecahedron">
        <inertial>
            <origin xyz="0.0 0.0 0.049" rpy="0 0 0"/>
            <mass value="0.314"/>
            <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.002"/>
        </inertial>

        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="./meshes/semi_dodecahedron/semi-dodecahedron.obj" scale="1 1 1"/>
            </geometry>
        </visual>

        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="./meshes/semi_dodecahedron/semi-dodecahedron.obj" scale="1 1 1"/>
            </geometry>
        </collision>
    </link>

</robot>