<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="SquarePyramid">

    <link name="SquarePyramid">
        <inertial>
            <origin xyz="0.0 0.0 0.065" rpy="0 0 0"/>
            <mass value="2.617"/>
            <inertia ixx="0.021" ixy="0.0" ixz="0.0" iyy="0.021" iyz="0.0" izz="0.032"/>
        </inertial>

        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="./meshes/square_pyramid/square_pyramid.obj" scale="1 1 1"/>
            </geometry>
        </visual>

        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="./meshes/square_pyramid/square_pyramid.obj" scale="1 1 1"/>
            </geometry>
        </collision>
    </link>

</robot>